:root{
  --bg: #F7F7F7;
  --text: #000000;
  --acent: #FFB22C;
  --sec: #854836;
  --primary: #d232cb;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  max-width: 100%;
}
main {
  padding: 10px;
  max-width: 80%;
  margin: 0 auto;
}
body{
  background-color: var(--bg);
  color: var(--text);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 2px solid var(--sec);
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 15px;
}



form.register,
form.login {
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 4px 8px;
  border: 2px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
}

form button {
  width: 100%;
  display: block;
  border: 0;
  color: #fff;
  background-color: var(--dark);
  padding: 7px 0px;
  cursor: pointer;
}

form.login,
form.register h1 {
  text-align: center;
}
p{
  font-size: 1.6rem;
}

.btn{
  padding: 8px 24px;
  font-size: 1.2rem;
  background-color: var(--acent);
  color: var(--text);
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
}

.btn-sec{
  padding: 8px 24px;
  font-size: 1.2rem;
  background-color: var(--acent);
  color: var(--text);
  border-radius: 4px;
}
.btn:hover{
  background-color:var(--text);
  color: var(--bg);
}
/* Navbar */
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.navbtn{
  font-size: 1.6rem;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.navbtn:hover{
  border-bottom: 3px solid var(--acent);
}
.logo{
  max-width: 50px;
}
/* Posts */
.recent{
  
  filter: drop-shadow(12px 0px 16px rgba(0, 0, 0, 0.4));
}
.top-post {
  width: 100%;
  height: 100%;
}

.top-post-link {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.top-image {
  position: relative;
  width: 100%;
  height:100%; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items:end;
  justify-content: center;
  z-index: 5;
  border-radius: 8px;
  transition: all .4 ease-in;
}
.top-image:hover {
  transform: scale(1.01);
  border: 1px solid var(--text);
}
.top-post-title {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  color: var(--bg);
  font-size: 24px;
  font-weight: bold; /* Dark overlay for readability */
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}


.info {
  color: var(--primary);
}



.heroGridContainer{
  width: 100%;
  /* background-color: #222; */
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 820px;
  gap: 4px;
  padding-bottom: 20px;
}

.leftGrid{
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* All Posts */
.allPostGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.post{
  width: 100%;
  display: grid;
  grid-template-columns: .4fr .6fr;
  min-height: 300px;
  
  margin-block: 20px;
}

.post-link{
  width: 100%;
  height: 100%;
}
.image{
  position: relative;
  width: 100%;
  height:100%; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items:end;
}
.content{
  height: 100%;
  width: 100%;
  padding: 0px 16px;
}

.post-title{
  font-size: 2.2rem;
  font-weight: bold; /* Dark overlay for readability */
  margin-top: 0;
}

.postContent{
  font-size: 1.6rem;
  
}
.postImage {
  height: 400px;
  display: flex;
  margin: 24px 0;
}

.postImage img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
/* Post view */

.PostPageGrid{
  display: grid;
  grid-template-columns: 1fr .7fr;
}
.rightPost h1{
  text-align: center;
}
.recent-post {
  width: 100%;
  height: 400px;
  padding: 16px ;
}

.recent-post-link {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.recent-image {
  position: relative;
  width: 100%;
  height:100%; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items:end;
  justify-content: center;
  z-index: 5;
}

.recent-post-title {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  color: var(--bg);
  font-size: 24px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.1); /* Dark overlay for readability */
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}


/* Post  */
.leftPost h1{
  font-size: 3.5rem;
}

/* HomepageFav books */
.favBooksContainer{
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: fit-content;
  overflow: hidden;
}
.favBooks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  height: 100%;
}

.bookCard{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bookCard img{
  object-fit: cover;
  height: 100%;
  border-radius: 25px;
  border: 2px solid var(--sec);
}

.quoteContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  padding: 50px;
}

/* People */
.people{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;
}
.peopleCard{
  height: 100%;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  border: 2px solid var(--sec);
  text-align: center;
  color: var(--acent);
  
}

.peopleCard p{
  padding: 50px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  color: transparent;
  transition: all .5s ease-in-out;

}

.peopleCard p:hover{
  background-color: rgb(0, 0, 0, 0.8);
  color: var(--bg);
  
}
h1{
  font-size: 2.5rem;
  color: var(--text);
}

.head{
  border-bottom: 2px solid var(--text);
  padding-bottom: 16px;
  margin-top: 64px;
}
.pageTitle{
  text-align: center;
  border-bottom: none;
}

.aboutGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridContent > h1{
  font-size: 3.5rem;
}
.gridContent{
  padding: 50px;
}
.gridImg{
  padding: 50px;
}

.gridImg > img{
  object-fit: cover;
  height: 100%;
}


/* Footer */

footer{
  text-align: center;
}